# Specify filepatterns you want git to ignore.
**/*.o

# dmenu files to ignore
dmenu/dmenu
dmenu/stest
dmenu/scripts/mount_remote_shares.sh

# slock files to ignore
slock/slock

# slstatus files to ignore
slstatus/slstatus

# st files to ignore
st/st

# surf files to ignore
surf/surf

# dwm files to ignore
dwm/dwm
